{% extends "layout.html" %}
{% block body %}
<div class="mdl-grid demo-content">  
  <div class="demo-graphs mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
    <h4 class="mdl-color-text--primary">How long it takes me to wake up</h4>
    <div class="mdl-shadow--2dp mdl-color--white ct-chart ct-perfect-fourth" id="chart1"></div>
  </div>
  <div class="demo-graphs mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
    <h4 class="mdl-color-text--primary">Times for alarm and wake up</h4>
    <div class="mdl-shadow--2dp mdl-color--white ct-chart ct-perfect-fourth" id="chart2"></div>
  </div>
</div>

{% endblock %}