{% extends "layout.html" %}
{% block body %}

<div id="welcome" class="container">
  <div class="slogan-wrapper">
    <div class="slogan mdl-color-text--accent">HammerTime</div>
    <h4 class="mdl-color-text--primary">Wake up, period.</h4>
    <a href="#specs" class="scroll">
      <button class="scroll-button mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <i class="material-icons">expand_more</i>
      </button>
    </a>
  </div>
</div>
<div id="specs" style="min-height: 800px;" class="container mdl-color--primary">
  <div class="header-text mdl-color-text--white">Specs</div>
  <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="image" style="background-image: url('static/hammer_blue.png') "></div>
      <h4 class="description">Get going on Android</h4>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="image" style="background-image: url('static/hammer_blue.png') "></div>
      <h4 class="description">Get going on Android</h4>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="image" style="background-image: url('static/hammer_blue.png') "></div>
      <h4 class="description">Get going on Android</h4>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="image" style="background-image: url('static/hammer_blue.png') "></div>
      <h4 class="description">Get going on Android</h4>
    </div>
  </div>
</div>
{% endblock %}