{% extends "layout.html" %}
{% block body %}

<div id="welcome" class="container">
  <div class="slogan-wrapper">
    <div class="slogan mdl-color-text--accent">HammerTime</div>
    <h4 class="mdl-color-text--primary">Wake up, period.</h4>
    <a href="#specs" class="scroll">
      <button class="scroll-button mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <i class="material-icons">expand_more</i>
      </button>
    </a>
  </div>
</div>
<div id="specs" style="min-height: 800px;" class="container">
  <div class="header-text mdl-color-text--primary">Specs</div>
  <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="image" style="background-image: url('static/sleeping.png') "></div>
      <h4 class="description">Wake up, every time.</h4>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="image" style="background-image: url('static/ecological6.png') "></div>
      <h4 class="description">Cost-effective, eco-friendly components</h4>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="image" style="background-image: url('static/servers1.png') "></div>
      <h4 class="description">Disruptive and revolutionary software and hardware</h4>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="image" style="background-image: url('static/team2.png') "></div>
      <h4 class="description">A team of east coast college dropouts</h4>
    </div>
  </div>
</div>
{% endblock %}