html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased !important;
  margin: 0;
  padding: 0;
}

.mdl-layout__drawer-button:before {
  content: '';
}

/*.mdl-layout__header-row a:hover, .mdl-layout-title:hover {
  color: #2196F3; 
}*/

/* home */
#welcome {
  position: relative;
  height: 800px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

#welcome:after{
  content:'';
  background: url('/static/background.jpg') center / cover;
  -webkit-filter: sepia(1.0);
  opacity: 0.4;
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
}

.slogan-wrapper {
  position:relative;
  z-index:1;
  padding-top: 200px;
  text-align: center;
}

.slogan-wrapper .slogan {
  font-weight: bold;
  font-size: 36px;
  line-height: 32px
}

@media (max-width: 480px) {
  #welcome {
    max-height: calc(100% - 56px);
  }
  .slogan-wrapper {
    padding-top: 100px;
  }
}

@media (min-width: 481px) {
  .slogan-wrapper .slogan {
    font-size: 45px;
    line-height: 48px;
  }
}

.scroll-button {
  margin-top: 15px;
}

.header-text {
  font-size: 36px;
  line-height: 32px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
}

@media (min-width: 481px) {
  .container {
    padding: 40px;
  }
}

#specs .image {
  min-height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#specs .description {
  margin: 10px 0;
  text-align: center;
}

/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  /*stroke: red;*/
  /* Control the thikness of your lines */
  /*stroke-width: 5px;*/
  /* Create a dashed line with a pattern */
  /*stroke-dasharray: 10px 20px;*/
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: #2196F3;
  /* Size of your points */
  /*stroke-width: 20px;*/
  /* Make your points appear as squares */
  /*stroke-linecap: square;*/
}
/*BAR CHART*/

/* Use this selector to override bar styles on bar charts. Bars are also strokes so you have maximum freedom in styling them. */
.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: #2196F3;
  /* The width of your bars */
  stroke-width: 30px;
}